
.card-div{
  padding: 0 10px;
  background-color: #000;
}
.articles{
  padding-top: 120px;
  background-color: #000;
}
article, .cards{
  height: unset;
}
@media (max-width: 768px){
  .articles{
    all: unset;
    padding-top: 120px;
    background-color: unset;
  }
  .card-div{
    padding: 0 10px;
    padding-top: 100px;
    padding-bottom: 20px;
  }
}